<a href="https://colab.research.google.com/github/Arpanajilla/HeartDisease/blob/main/Copy_of_7_12_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
numbers=[1,3,5,7,9,10,25,27,29,29,30]
print(numbers[2])

5

In [5]:
name="arpana"
classs="MSC"
course="data Science"
language="English"
name1="kavya"
sub="ai"
nukber=23

print(str(nukber)+
    classs)

23MSC

In [ ]:
 name=["ai",23]
 name=(10,"arpana")

In [ ]:
# update last statement in python because it the interpreter lang:
a=[10,"arpana"]
a=(10,"apple")
A={"name":"Arpana","name1":"Arpana"}
print(A)
print(a)
b=[10]
print(b)
c={"a,b"}
print(c)

{'name': 'Arpana', 'name1': 'Arpana'}
(10, 'apple')
[10]
{'a,b'}

In [ ]:
#types
print(type(b))
print(type(c))

<class 'list'>
<class 'set'>

In [ ]:
#instead of use []
print(A["name1"])

Arpana

In [ ]:
#operaters:
#1)Assignment:
a=10
a+= 2
print(a)
d=13
d=+ 4
print(d)
a=13
a-=12
print(a)

12
4
1

In [ ]:
a=print("arpana",str(10))
print(25+65)
print("python is awesome")
print(a)

arpana 10
90
python is awesome
None

In [ ]:
name="arpana"
age=21
city="hyd"
d="name"+str(age)+"city"
print(d)
numbers=10+20
print("""twinkle twinkle little is star
      how i wonder what u r
      up above the world so r
      like a diamond in the sky""")

print("dont look back into your failures")
print(numbers)

name21city
twinkle twinkle little is star
      how i wonder what u r
      up above the world so r
      like a diamond in the sky
dont look back into your failures
30

In [ ]:
print(10+20)
print("""johny johny yes\n papa
eating sugar no\n papa""" )
print("johny \t papa")
print("\'hello world\'")
print('\"hello world\"')
print("\"ammu\"")

print("hello world\tammu\tmy space")

30
johny johny yes
 papa
eating sugar no
 papa
johny 	 papa
'hello world'
"hello world"
"ammu"
hello world	ammu	my space

In [ ]:
print(45/6)
a=45
b=6
reminder=a%b
print(reminder)
print(50>=100)
n1=50
n2=100
print(n1>=n2)
print(n1>50 and n2<100)
print(n1>50 or n2<100)
print(not(n1>50 ))

7.5
3
False
False
False
False
True

In [ ]:
#creating list
#acessing list
#slicing
#apending

In [ ]:
a=int(input("enter number:-"))
b=int(input("enter number1:-"))
print(float(a+b))

enter number:-23
enter number1:-24
47.0